:host {width: 136.6rem; height: 3.6rem;} 
main {width: 100%; display: flex; justify-content: center; margin-top: 2.5rem; height: 3.6rem}

#tag-form {width: 60rem; height: 50.2rem; background-color: #fff; padding: 6rem; text-align: center;}

.form-heading {font-size: 3.2rem; color: #7c7c7c}
.form-subHeading {font-size: 1.6rem; color: #7c7c7c; margin-top: 1.6rem;}

.selection {
    width: 50rem; 
    height: 25rem; 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    margin: 1.2rem auto 0 auto;
}
.option {
    width: 10rem; 
    height: 10rem; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: 1px solid rgba(0, 0, 0, 0.555);
    font-size: 1.6rem;
}

.clicked {background-color: rgb(19, 46, 59); color: white;}

input[type="submit"] {
    width: 48rem; 
    height: 4.9rem; 
    background-color: rgb(19, 46, 59); 
    color: white; 
    border: none;
    font-size: 1.6rem;  
    -webkit-appearance: button;
}

@media only screen and (max-width: 128rem) {
    :host {width: 128rem}
}

@media (hover: hover) {
    .option:hover {cursor: pointer;}
}

@media only screen and (max-width: 650px) {
    #tag-form {width: 40rem}
}
@media only screen and (max-width: 650px) {
    #tag-form {width: 93%; padding: 2rem;}
    input[type="submit"] {width: 93%;}
    .selection {
        width: 100%; 
        margin-bottom: .3rem; 
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); 
        align-items: center;
        margin-left: 1.5rem;
    }

    .option { width: 80%; height: 90%;}
}