<main>

    <div id="tag-form">
        <p class='form-heading'>Discover images that you love</p>
        <p class='form-subHeading'>Select from the following tags to customize your dashboard</p>
        <div class='selection' >
            <div class="option" (click)="select($event)" *ngFor="let opt of options">{{opt}}</div>
        </div>
        <!-- <p class="form-subHeading">Add additional:</p>
        <input type="text" name="custom" placeholder="Ex. Cars, Animals, Love, Food"> -->
        <input type="submit" value="Continue" (click)="send()">
    </div>

</main>