main  {
    padding: .5rem 0;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-auto-flow: dense;
    width: 100%;
}

/* .img-container {width: 35rem} */

.img-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.left {display: flex; align-items: center;}
.left p {font-size: 1.6rem; color: #4a4a4a}
.left a {text-decoration: none;}
.right {margin-right: .3rem;}

svg {width: 3rem; height: 3rem;}

.profile-image {width: 3.2rem; margin: 0 .5rem 0 .3rem}
.profile-image img {border-radius: 50%; max-width: 100%;}

img {max-width: 100%;}

@media only screen and (min-width: 500px) {

    .img-container {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    h2 {
        width: max-content;
        margin: 0 auto;
    }
}
