<main *ngIf="images"> 
    <div *ngFor="let image of images" class="img-container">
        <img (click)="viewImage($event)" src="{{ image.urls.regular }}" alt="">
        <div class="img-footer">
            <div class="left">
                <div class="profile-image">
                    <img  src="{{ image.user.profile_image.large }}" alt="{{ image.alt_description }}">
                </div>
                <a href="https://www.instagram.com/{{ image.user.instagram_username }}"><p>{{ image.user.name }}</p></a>
            </div>
            <div class="right">
                <a href="{{ image.links.download }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 199.5h-91.4V64H187.4v135.5H96l160 158.1 160-158.1zM96 402.8V448h320v-45.2H96z"/></svg></a>
            </div>
        </div>
    </div>
</main>
<div class="modal" *ngIf="oneImage">
    <div class="modal-content">
        <p (click)="close()">x</p>
        <img src="{{oneImage}}" alt="">
    </div>
</div>