<header class="{{ noFill }}">
    <nav>
        <div class="heading">
            <img src="./assets/images/image_splash.png" id="icon" alt="">
            <h2 [routerLink]="['/search']">Image Splash</h2>
        </div>
        <div class="nav-btns">
            <a [routerLink]="['/search']">Search</a>
            <a [routerLink]="['/welcome']">Dashboard</a>
            <a [routerLink]="['/explore']" id="norm">Explore</a>
        </div>
        <div id="hamburger" (click)='open()'>
            <svg  xmlns="http://www.w3.org/2000/svg" width="118" height="80" viewBox="0 0 118 80">
                <g id="Group_14" data-name="Group 14" transform="translate(-73.5 -77.5)">
                  <line id="Line_5" data-name="Line 5" x2="108" transform="translate(78.5 82.5)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="10"/>
                  <line id="Line_7" data-name="Line 7" x2="108" transform="translate(78.5 152.5)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="10"/>
                  <line id="Line_6" data-name="Line 6" x2="71" transform="translate(115.5 117.5)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="10"/>
                </g>
            </svg>
        </div>
    </nav>
    <div class="mobile-menu" id='modal'>
        <svg id='x' (click)='close()' xmlns="http://www.w3.org/2000/svg" width="96.554" height="97.517" viewBox="0 0 96.554 97.517">
            <g transform="translate(-76.723 -80.742)">
                <line id="Line_5" data-name="Line 5" x2="93" y2="94" transform="translate(78.5 82.5)" fill="none" stroke="#fff" stroke-width="10"/>
                <line id="Line_6" data-name="Line 6" y1="94" x2="93" transform="translate(78.5 82.5)" fill="none" stroke="#fff" stroke-width="10"/>
            </g>
        </svg>
        <a [routerLink]="['/search']">Search</a>
        <a [routerLink]="['/welcome']">Dashboard</a>
        <a [routerLink]="['/explore']">Explore</a>
    </div>
</header>


<router-outlet></router-outlet>